In [2]:
import pandas as pd

In [3]:
filmList = pd.read_csv('data/ml-20m/movies.csv')
filmList

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy
27275,131258,The Pirates (2014),Adventure
27276,131260,Rentun Ruusu (2001),(no genres listed)
27277,131262,Innocence (2014),Adventure|Fantasy|Horror

In [4]:
filter = [False for _ in range(len(filmList))]
for index, row in filmList.iterrows():
    lst = row['title'].split()
    if len(lst) < 2:
        filter[index] = True
        continue
    
    if not lst[-1][1:-1].isdigit():
        filter[index] = True
        continue
print(filter.count(True))

26

In [5]:
filmList['filter'] = filter
filmList

,movieId,title,genres,filter
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,False
1,2,Jumanji (1995),Adventure|Children|Fantasy,False
2,3,Grumpier Old Men (1995),Comedy|Romance,False
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,False
4,5,Father of the Bride Part II (1995),Comedy,False
...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,False
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,False
27275,131258,The Pirates (2014),Adventure,False
27276,131260,Rentun Ruusu (2001),(no genres listed),False
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,False

In [6]:
filmList = filmList.drop(filmList[filmList['filter']].index)
filmList

,movieId,title,genres,filter
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,False
1,2,Jumanji (1995),Adventure|Children|Fantasy,False
2,3,Grumpier Old Men (1995),Comedy|Romance,False
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,False
4,5,Father of the Bride Part II (1995),Comedy,False
...,...,...,...,...
27273,131254,Kein Bund für's Leben (2007),Comedy,False
27274,131256,"Feuer, Eis & Dosenbier (2002)",Comedy,False
27275,131258,The Pirates (2014),Adventure,False
27276,131260,Rentun Ruusu (2001),(no genres listed),False
27277,131262,Innocence (2014),Adventure|Fantasy|Horror,False

In [7]:
filmList['year'] = [x[-5:-1] for x in list(filmList['title'])]
filmList['title'] = [x[:-7].strip() for x in list(filmList['title'])]
filmList

,movieId,title,genres,filter,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,False,1995
1,2,Jumanji,Adventure|Children|Fantasy,False,1995
2,3,Grumpier Old Men,Comedy|Romance,False,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,False,1995
4,5,Father of the Bride Part II,Comedy,False,1995
...,...,...,...,...,...
27273,131254,Kein Bund für's Leben,Comedy,False,2007
27274,131256,"Feuer, Eis & Dosenbier",Comedy,False,2002
27275,131258,The Pirates,Adventure,False,2014
27276,131260,Rentun Ruusu,(no genres listed),False,2001
27277,131262,Innocence,Adventure|Fantasy|Horror,False,2014

In [8]:
filmList = filmList.drop(columns='filter')
filmList

,movieId,title,genres,year
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995
1,2,Jumanji,Adventure|Children|Fantasy,1995
2,3,Grumpier Old Men,Comedy|Romance,1995
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995
4,5,Father of the Bride Part II,Comedy,1995
...,...,...,...,...
27273,131254,Kein Bund für's Leben,Comedy,2007
27274,131256,"Feuer, Eis & Dosenbier",Comedy,2002
27275,131258,The Pirates,Adventure,2014
27276,131260,Rentun Ruusu,(no genres listed),2001
27277,131262,Innocence,Adventure|Fantasy|Horror,2014

In [9]:
info = pd.read_csv('data/moviesList3/rt_movie_info.csv')
info

,movie_link,movie_name,rating,genre,directors,writers,movie_info,poster_image,casts,in_theaters_date,...,audience_count,audience_top_critics_count,audience_fresh_critics_count,audience_rotten_critics_count,audience_fresh_top_critics_count,audience_rotten_rotten_critics_count,tomatometer_avg_rating,audience_top_critics_avg_rating,score_sentiment,audience_avg_rating
0,/m/312291718,Tillie's Punctured Romance,NR,"Classics,Comedy","Charles Bennett,Mack Sennett",Hampton Del Ruth,"This Keystone comedy, Charlie Chaplin's 33rd, ...",https://resizing.flixster.com/2cfo_iZmt1DetxOR...,"Charles Chaplin,Marie Dressler,Mabel Normand,C...","Jan 1, 1914",...,972.0,1,5,1,1,0,6.38,0.0,NEGATIVE,3.21
1,/m/770681144,Tango Tangles,NR,Comedy,Mack Sennett,Mack Sennett,Tango Tangles is an impromptu Keystone comedy ...,https://resizing.flixster.com/AJKmCcDUQqEOdT3n...,"Glen Cavender,Charles Chaplin,Edgar Kennedy,Fr...","Mar 9, 1914",...,183.0,0,0,0,0,0,0.00,0.0,NEGATIVE,2.65
2,/m/20297,Cabiria,NR,"Art House & International,Classics,Drama",Giovanni Pastrone,Gabriele D'Annunzio,The ancient conflict between Rome and Carthage...,https://resizing.flixster.com/NA4TdKSRbmLNhJKw...,"Alex Bernard,Italia Almirante-Manzini,Lidia Qu...","Jun 1, 1914",...,1153.0,4,8,1,4,0,7.75,10.0,POSITIVE,3.70
3,/m/770680394,The Magic Cloak of Oz,NR,"Action & Adventure,Drama,Kids & Family,Science...",J. Farrell MacDonald,L. Frank Baum,Author L. Frank Baum adapts his own original s...,https://resizing.flixster.com/qgZlce0CF5nUrmUX...,"Violet MacMillan,Vivian Reed,Mildred Harris,Fr...","Sep 28, 1914",...,NaN,0,0,0,0,0,0.00,0.0,NaN,NaN
4,/m/21368,Regeneration,NR,"Classics,Drama",Raoul Walsh,"Raoul Walsh,Carl Harbaugh",Noteworthy as the first ever feature-length cr...,https://resizing.flixster.com/1aKm46hSGRdsc_Fs...,"Rockliffe Fellowes,Anna Q. Nilsson,William She...","Sep 13, 1915",...,401.0,2,5,0,2,0,9.17,0.0,POSITIVE,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12996,/m/572463126,Spooky Encounters (Gui da gui),R,"Action & Adventure,Art House & International,C...",Sammo Hung Kam-Bo,Sammo Hung Kam-Bo,Courageous Cheung (Sammo Hung) has a reputatio...,https://resizing.flixster.com/EBhOA9UEYYD02yhf...,"Sammo Hung Kam-Bo,Ching-Ying Lam,Chan Lung,Fat...",NaN,...,1276.0,0,1,1,0,0,7.00,0.0,POSITIVE,4.03
12997,/m/770916867,Lady Luck,NR,"Comedy,Drama",Charles Lamont,John Krafft,"In this drama, a manicurist is mistaken for th...",https://resizing.flixster.com/b7Krc1GRxbH3b0-Q...,"Patricia Farr,William Bakewell,Duncan Renaldo,...",NaN,...,NaN,0,0,0,0,0,0.00,0.0,NaN,NaN
12998,/m/770876889,The Baltimore Bullet,PG,"Action & Adventure,Comedy",Robert Ellis Miller,"John F. Brascia,Robert Vincent O'Neil","James Coburn is ""The Baltimore Bullet"", a lege...",https://resizing.flixster.com/3aBh9qvL9P8VwKF_...,"James Coburn,Omar Sharif,Bruce Boxleitner,Rone...",NaN,...,27.0,0,0,0,0,0,0.00,0.0,NEGATIVE,3.38
12999,/m/15618,Loose Shoes,R,Comedy,Ira Miller,"Ira Miller,Royce D. Applegate",Movie trailers are the target of this satiric ...,https://resizing.flixster.com/CAN2IeQ_99yw20pL...,"Lewis Arquette,Danny Dayton,Murphy Dunne,Howar...",NaN,...,540.0,0,0,0,0,0,0.00,0.0,NEGATIVE,2.33
13000,/m/771036550,Bara en mor (Only a Mother),NR,"Art House & International,Drama",Alf Sjöberg,NaN,NaN,https://www.rottentomatoes.com/assets/pizza-pi...,NaN,NaN,...,NaN,0,0,0,0,0,0.00,0.0,NaN,NaN

In [10]:
print(filmList[['title','year']].duplicated().sum())
filmList = filmList.drop_duplicates(subset=['title','year'])
filmList[['title','year']].duplicated().sum()

16

0

In [11]:
info = info.rename(columns={'movie_name':'title'})

In [12]:
info = info.drop(columns=['movie_link', 'movie_info', 'poster_image', 'movie_info', 'in_theaters_date', 'on_streaming_date', 'runtime_in_minutes', 'box_office', 'critics_consensus', 'tomatometer_status',
                          'tomatometer_rating', 'tomatometer_count', 'audience_status', 'audience_want_to_see_count', 'audience_rating', 'audience_count', 'audience_top_critics_count',
                          'audience_fresh_critics_count', 'audience_rotten_critics_count', 'audience_fresh_top_critics_count', 'audience_rotten_rotten_critics_count', 'tomatometer_avg_rating',
                          'audience_top_critics_avg_rating', 'score_sentiment', 'audience_avg_rating'])
info

,title,rating,genre,directors,writers,casts,studio_name
0,Tillie's Punctured Romance,NR,"Classics,Comedy","Charles Bennett,Mack Sennett",Hampton Del Ruth,"Charles Chaplin,Marie Dressler,Mabel Normand,C...",Keystone Film Company
1,Tango Tangles,NR,Comedy,Mack Sennett,Mack Sennett,"Glen Cavender,Charles Chaplin,Edgar Kennedy,Fr...",Keystone Film Company
2,Cabiria,NR,"Art House & International,Classics,Drama",Giovanni Pastrone,Gabriele D'Annunzio,"Alex Bernard,Italia Almirante-Manzini,Lidia Qu...",Itala Film
3,The Magic Cloak of Oz,NR,"Action & Adventure,Drama,Kids & Family,Science...",J. Farrell MacDonald,L. Frank Baum,"Violet MacMillan,Vivian Reed,Mildred Harris,Fr...",NaN
4,Regeneration,NR,"Classics,Drama",Raoul Walsh,"Raoul Walsh,Carl Harbaugh","Rockliffe Fellowes,Anna Q. Nilsson,William She...",Fox Film Corporation
...,...,...,...,...,...,...,...
12996,Spooky Encounters (Gui da gui),R,"Action & Adventure,Art House & International,C...",Sammo Hung Kam-Bo,Sammo Hung Kam-Bo,"Sammo Hung Kam-Bo,Ching-Ying Lam,Chan Lung,Fat...",Tai Seng
12997,Lady Luck,NR,"Comedy,Drama",Charles Lamont,John Krafft,"Patricia Farr,William Bakewell,Duncan Renaldo,...",Chesterfield Pictures Corporation
12998,The Baltimore Bullet,PG,"Action & Adventure,Comedy",Robert Ellis Miller,"John F. Brascia,Robert Vincent O'Neil","James Coburn,Omar Sharif,Bruce Boxleitner,Rone...",AVCO Embassy Pictures
12999,Loose Shoes,R,Comedy,Ira Miller,"Ira Miller,Royce D. Applegate","Lewis Arquette,Danny Dayton,Murphy Dunne,Howar...",Atlantic Releasing Corporation
13000,Bara en mor (Only a Mother),NR,"Art House & International,Drama",Alf Sjöberg,NaN,NaN,NaN

In [13]:
movies = filmList.merge(info, on='title')
movies

,movieId,title,genres,year,rating,genre,directors,writers,casts,studio_name
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,G,"Animation,Comedy,Kids & Family",John Lasseter,"Joss Whedon,Andrew Stanton,Joel Cohen,Alec Sok...","Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...",Buena Vista
1,3,Grumpier Old Men,Comedy|Romance,1995,PG-13,Comedy,Howard Deutch,Mark Steven Johnson,"Jack Lemmon,Walter Matthau,Ann-Margret,Sophia ...",Warner Home Video
2,4,Waiting to Exhale,Comedy|Drama|Romance,1995,R,"Comedy,Drama",Forest Whitaker,"Terry McMillan,Ronald Bass","Whitney Houston,Angela Bassett,Lela Rochon,Lor...",Twentieth Century Fox Home Entertainment
3,7,Sabrina,Comedy|Romance,1995,NR,Horror,Rocky Soraya,"Fajar Umbara,Riheam Junianti","Luna Maya,Christian Sugiono,Sara Wijayanto,Jer...",Netflix
4,915,Sabrina,Comedy|Romance,1954,NR,Horror,Rocky Soraya,"Fajar Umbara,Riheam Junianti","Luna Maya,Christian Sugiono,Sara Wijayanto,Jer...",Netflix
...,...,...,...,...,...,...,...,...,...,...
7313,130588,Escobar: Paradise Lost,Romance|Thriller,2014,R,"Drama,Mystery & Suspense,Romance",Andrea Di Stefano,Andrea Di Stefano,"Benicio Del Toro,Josh Hutcherson,Claudia Trais...",Radius-TWC
7314,130982,Widows,Drama,2011,PG-13,"Drama,Television",Geoffrey Sax,Lynda La Plante,"Mercedes Ruehl,Brooke Shields,Rosie Perez,N'Bu...",NaN
7315,131013,Get Hard,Comedy,2015,R,Comedy,Etan Cohen,Jay Martel,"Will Ferrell,Kevin Hart,T.I.,Alison Brie,Craig...",Warner Bros. Pictures
7316,131080,Cinderella III: A Twist in Time,Animation|Children|Fantasy|Romance,2007,G,"Animation,Kids & Family",Frank Nissen,"Steve Bencich,Ron J. Friedman,Eddie Guzelian,M...","Jennifer Hale,C.D. Barnes,Christopher Daniel B...",Walt Disney Productions
7317,131152,The Fat Spy,Comedy,1966,NR,"Action & Adventure,Classics,Comedy",Joseph Cates,Mathew Andrews,"Jack E. Leonard,Phyllis Diller,Jayne Mansfield...",Magna

In [14]:
movies.duplicated().sum()

789

In [15]:
movies = movies.drop_duplicates()
movies.duplicated().sum()

0

In [16]:
movies = movies.drop(columns='genre')

In [17]:
movies = movies.reset_index()
movies

,index,movieId,title,genres,year,rating,directors,writers,casts,studio_name
0,0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,G,John Lasseter,"Joss Whedon,Andrew Stanton,Joel Cohen,Alec Sok...","Tom Hanks,Tim Allen,Don Rickles,Jim Varney,Wal...",Buena Vista
1,1,3,Grumpier Old Men,Comedy|Romance,1995,PG-13,Howard Deutch,Mark Steven Johnson,"Jack Lemmon,Walter Matthau,Ann-Margret,Sophia ...",Warner Home Video
2,2,4,Waiting to Exhale,Comedy|Drama|Romance,1995,R,Forest Whitaker,"Terry McMillan,Ronald Bass","Whitney Houston,Angela Bassett,Lela Rochon,Lor...",Twentieth Century Fox Home Entertainment
3,3,7,Sabrina,Comedy|Romance,1995,NR,Rocky Soraya,"Fajar Umbara,Riheam Junianti","Luna Maya,Christian Sugiono,Sara Wijayanto,Jer...",Netflix
4,4,915,Sabrina,Comedy|Romance,1954,NR,Rocky Soraya,"Fajar Umbara,Riheam Junianti","Luna Maya,Christian Sugiono,Sara Wijayanto,Jer...",Netflix
...,...,...,...,...,...,...,...,...,...,...
6524,7313,130588,Escobar: Paradise Lost,Romance|Thriller,2014,R,Andrea Di Stefano,Andrea Di Stefano,"Benicio Del Toro,Josh Hutcherson,Claudia Trais...",Radius-TWC
6525,7314,130982,Widows,Drama,2011,PG-13,Geoffrey Sax,Lynda La Plante,"Mercedes Ruehl,Brooke Shields,Rosie Perez,N'Bu...",NaN
6526,7315,131013,Get Hard,Comedy,2015,R,Etan Cohen,Jay Martel,"Will Ferrell,Kevin Hart,T.I.,Alison Brie,Craig...",Warner Bros. Pictures
6527,7316,131080,Cinderella III: A Twist in Time,Animation|Children|Fantasy|Romance,2007,G,Frank Nissen,"Steve Bencich,Ron J. Friedman,Eddie Guzelian,M...","Jennifer Hale,C.D. Barnes,Christopher Daniel B...",Walt Disney Productions
6528,7317,131152,The Fat Spy,Comedy,1966,NR,Joseph Cates,Mathew Andrews,"Jack E. Leonard,Phyllis Diller,Jayne Mansfield...",Magna

In [18]:
movies = movies.drop(columns='index')
movies

In [20]:
entity_counter = len(movies)
entity_dict = {}

f = open( 'kg_final.txt', 'w' )
for index, row in movies.iterrows():
    #genres
    genreList = row['genres'].split('|')
    for genre in genreList:
        
        if genre == '(no genres listed)':
            continue
        
        if genre not in entity_dict.keys():
            entity_dict[genre] = entity_counter
            entity_counter += 1
        f.write(str(index) + '\t' + '0' + '\t' + str(entity_dict[genre]) + '\n')
    
    #year
    if str(row['year']) not in entity_dict.keys():
        entity_dict[str(row['year'])] = entity_counter
        entity_counter += 1
    f.write(str(index) + '\t' + '1' + '\t' + str(entity_dict[str(row['year'])]) + '\n')
    
    #rating
    if row['rating'] not in entity_dict.keys():
        entity_dict[row['rating']] = entity_counter
        entity_counter += 1
    f.write(str(index) + '\t' + '2' + '\t' + str(entity_dict[row['rating']]) + '\n')
    
    #director
    if type(row['directors']) != float:
        directorList = row['directors'].split(',')
        for director in directorList:
            if director not in entity_dict.keys():
                entity_dict[director] = entity_counter
                entity_counter += 1
            f.write(str(index) + '\t' + '3' + '\t' + str(entity_dict[director]) + '\n')
    
    #writer
    if type(row['writers']) != float:
        writerList = row['writers'].split(',')
        for writer in writerList:
            if writer not in entity_dict.keys():
                entity_dict[writer] = entity_counter
                entity_counter += 1
            f.write(str(index) + '\t' + '4' + '\t' + str(entity_dict[writer]) + '\n')
        
    #casts
    if type(row['casts']) != float:
        castsList = row['casts'].split(',')
        for casts in castsList:
            if casts not in entity_dict.keys():
                entity_dict[casts] = entity_counter
                entity_counter += 1
            f.write(str(index) + '\t' + '5' + '\t' + str(entity_dict[casts]) + '\n')
    
    #studio
    if type(row['studio_name']) != float:
        if row['studio_name'] not in entity_dict.keys():
            entity_dict[row['studio_name']] = entity_counter
            entity_counter += 1
        f.write(str(index) + '\t' + '6' + '\t' + str(entity_dict[row['studio_name']]) + '\n')
    
print(len(entity_dict))

108736

In [56]:
rates = pd.read_csv('data/ml-20m/ratings.csv')
rates

          userId  movieId  rating   timestamp
0              1        2     3.5  1112486027
1              1       29     3.5  1112484676
2              1       32     3.5  1112484819
3              1       47     3.5  1112484727
4              1       50     3.5  1112484580
...          ...      ...     ...         ...
20000258  138493    68954     4.5  1258126920
20000259  138493    69526     4.5  1259865108
20000260  138493    69644     3.0  1260209457
20000261  138493    70286     5.0  1258126944
20000262  138493    71619     2.5  1255811136

[20000263 rows x 4 columns]

In [21]:
idMapper = {}
for index, row in movies.iterrows():
    idMapper[row['movieId']] = index

In [58]:
movieSet = set(movies['movieId'])
f = open( 'ratings_final.txt', 'w' )

userSet = set()

for index, row in rates.iterrows():
    if row['movieId'] in movieSet:
        userSet.add(row['userId'] - 1)
    if row['movieId'] in movieSet:
        f.write(str(int(row['userId'] - 1)) + '\t' + str(int(idMapper[row['movieId']])) + '\t' + ('1' if row['rating'] >= 4. else '0') + '\n')

In [59]:
for i in range(max(rates['userId'])):
    if i not in userSet:
        print(i)

138493
138494

In [22]:
f = open('item_index2entity_id.txt', 'w')
for index, row in movies.iterrows():
    f.write(str(row['movieId']) + '\t' + str(index) + '\n')

In [23]:
f = open('ids_with_names.txt', 'w')
for index, row in movies.iterrows():
    f.write(str(row['movieId']) + '\t' + str(index) + '\t' + str(row['title'] + '\n'))